body {
  overflow: hidden;
}

.App {
  padding: 0 30px; 
}

a {
  text-decoration: none; 
}

@keyframes boing {
  from {
    transform: translateY(-100%); 
  }
  to {
    transform: translateY(0); 
  }
}


@keyframes bouncy {
  from {
    transform: rotate(0); 
  }
  to {
    transform: rotate(360deg); 
  }
}

@keyframes swoosh {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0); 
  }
}