body {
  overflow: hidden;
}

.App {
  padding-top: 50px; 
}

a {
  text-decoration: none; 
}

@keyframes swoosh-in-from-top {
  from {
    transform: translateY(-100%); 
  }
  to {
    transform: translateY(0); 
  }
}


@keyframes bouncy {
  from {
    transform: rotate(0); 
  }
  to {
    transform: rotate(360deg); 
  }
}

@keyframes swoosh-in-from-left {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0); 
  }
}
@keyframes swoosh-in-from-right {
  from {
    transform: translateX(100%)
  }

  to {
    transform: translateX(0); 
  }
}


@keyframes swoosh-out-to-right {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(200%); 
  }
}

.testimonial-image > * {
  border-radius: 50%;
}