.App {
  padding: 0 30px; 
}

a {
  text-decoration: none; 
}


@keyframes bouncy {
  from {
    transform: rotate(0); 
  }
  to {
    transform: rotate(360deg); 
  }
}

@keyframes swoosh {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0); 
  }
}