@import './_variables.scss';
@import 'bulma/bulma';

a {
    color: inherit; 
}


a.cart-icon {
    &:active, &:hover {
        color: 'white'; 
    }
}

$soup_pic_brown           : './assets/img/hero-soup-brown.jpg'; 
$soup_pic_brown_MIRRORED  : './assets/img/hero-soup-brown-mirrored.png'; 

.hero-background {
    background-image: url($soup_pic_brown_MIRRORED); 
    background-size: 100% auto;
    background-position-y: -95px;
    background-repeat: no-repeat; 

    position: relative;

    h1 {
        // color: white;
        background: rgba(255,255,255,.5); 
        padding: 0 .5em; 
        display: inline-block;
        font-size: 5vw; 
    }

}

.reviews {
    display: none; 
}

@media (min-width: 769px) {
    .reviews {
        display: flex;
    }
}

@media (max-width: 900px) {
    .hero-background {
        background-size: 1000px auto;
        background-position-x: -95px;


        h1 {
            font-size: 30px; 
        }
    }
}

.wrap-mobile {
    display: flex; 
}
@media (max-width: 560px) {
    .wrap-mobile {
        display: block; 
     }
}


.checkout-banner {

    display: flex;
    justify-content: flex-end;
    button {
        display: none; 
    }
}
@media (max-width: 790px) {

    .column.payment-form {
        height: 60vh;
    }

    .checkout-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2em 1em;
        border: 1px solid lightgrey;
        justify-content: space-between;
        align-items: center;
        background: white;
        z-index: 1; 
        flex-wrap: wrap; 

        h1, span {
            font-size: 20px; 
        }

        button {
            display: initial;
        }
    }
}
